<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入畫面</title>
    <meta name="google" content="notranslate">
</head>

<body>
    <h1>登入畫面</h1>
    <a href="/">首頁</a>
    <br>
    <br>
    <h1>87你給我登入</h1>
    <form action="/sign_in" method="POST">
        userID編號 <input type="text" name="userID" /><br />
        輸入密碼 <input type="text" name="password" /><br />
        <button>登入</button>
    </form>
</body>

</html>