<!DOCTYPE html>
<html>
<head>
    <title>Forget Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form action="/forgetPassword" method="post">
    <label for="phone">請輸入電話號碼:</label><br>
    <input type="text" id="phone" name="phone"><br>
    <label for="email">請輸入電子郵件:</label><br>
    <input type="text" id="email" name="email"><br>
    <input type="submit" value="Submit">
</form>

<script>
$(document).ready(function() {
    var error = "{{ session.get('error', '') }}";
    if (error) {
        alert(error);
        {{ session.pop('error', None) }}
    }
});
</script>

</body>
</html>
