<!-- 首頁 -->

<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Home</title>
</head>
<body>
        <h1>My Website Text</h1>
        <!-- <table border="1">
                <tr>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                </tr>
                <tr>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                </tr>
                <tr>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                        <td>Text Text Text</td>
                </tr>
        </table> -->

        <!-- 新增的表單 -->
        <form action="/user/signup" method="post">
        <!-- 你可能想要增加一些 input 欄位來收集使用者資訊 -->
                <input type="submit" value="Register">
        </form>
</body>
</html>