<!DOCTYPE html>
<html>

<head>
    <title>貼文列表 - 相約美好聚會時光</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <h2>主辦聚會</h2>

    <div class="submitActivity">
        <form action="/activity/submitActivity/create" method="POST">
            {% if fun == "update" %}
            <label for="title">聚會主題*</label><br>
            <input id="title" name="title" value="{{info[0]['title']}}" required><br>
            <label for="Intro">描述*</label><br>
            <input id="Intro" name="Intro" value="{{info[0]['Intro']}}" required><br>
            <label for="location">聚會地點*</label><br>
            <input id="location" name="location" value="{{info[0]['location']}}" required><br>
            <label for="time">聚會時間*</label>
            <input type="date" id="time" name="time" min="2023-06-20" value="{{info[0]['time']}}" required><br>
            <label for="expireDate">報名期限*</label>
            <input type="date" id="expireDate" name="expireDate" value="{{info[0]['expireDate']}}" required><br>
            <label for="peopleLimited">人數上限*</label>
            <input id="peopleLimited" name="peopleLimited" type="number" max="999" min="1"
                value="{{info[0]['peopleLimited']}}" required><br />
            <label for="fee">費用*</label>
            <input id="fee" name="fee" type="number" max="100000000" min="0" value="{{info[0]['fee']}}" required>
            <br />
            <label for="area">聚會城市*</label>
            <select id="area" name="area">
                {% for i in cityList %}
                <option value="{{info[0]['area']}}">{{i}}</option>
                {% endfor %}
            </select><br>
            <label for="category">聚會類型*</label>
            <select id="category" name="category">
                {% for i in categoryList %}
                <option value="{{info[0]['categoryList']}}">{{i}}</option>
                {% endfor %}
            </select><br>
            {% else %}
            <label for="title">聚會主題*</label><br>
            <input id="title" name="title" required><br>
            <label for="Intro">描述*</label><br>
            <input id="Intro" name="Intro" required><br>
            <label for="location">聚會地點*</label><br>
            <input id="location" name="location" required><br>
            <label for="time">聚會時間*</label>
            <input type="date" id="time" name="time" min="2023-06-20" required><br>
            <label for="expireDate">報名期限*</label>
            <input type="date" id="expireDate" name="expireDate" required><br>
            <label for="peopleLimited">人數上限*</label>
            <input id="peopleLimited" name="peopleLimited" type="number" max="999" min="1" required><br />
            <label for="fee">費用*</label>
            <input id="fee" name="fee" type="number" max="100000000" min="0" required>
            <br />
            <label for="area">聚會城市*</label>
            <select id="area" name="area">
                {% for i in cityList %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select><br>
            <label for="category">聚會類型*</label>
            <select id="category" name="category">
                {% for i in categoryList %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
            </select><br>
            {% endif%}


            <!-- 檢查是否有錯誤訊息 -->
            {% if msg %}
            <p>{{ msg }}</p>
            {% endif %}

            {% if fun == 'update' %}
            <button>重新發佈聚會</button>
            {% else %}
            <button>發佈聚會</button>
            {% endif %}

        </form>
        <br />
        <button><a href="/home">回上一頁</a></button>
    </div>

</body>

</html>