<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <title>更改留言</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f2f2f2;
        }

        .header-left {
            display: flex;
            align-items: center;
        }

        .header-right {
            display: flex;
            align-items: center;
        }

        .button {
            margin-right: 16px;
            border: none;
        }
    </style>
</head>

<body>
    <!-- <div class="header">
        <div class="header-left">
            <button class="button"><a href="/home"> 🥂 </a></button>
            <button class="button"><a href="/post/area">貼文</a></button>
            <button class="button">關於我們</button>
        </div>
        <div class="header-right">
            <button class="button">主辦活動</button>
            <button class="button"><a href="/user/logout">登出</a></button>
            <h4>{{ nickname }}</h4>
        </div>
    </div> -->

    <h1>更改留言</h1>
    <form action="/post/posts/update_comment/{{ comment['commentID'] }}" method="POST">
        <label>留言內容</label>
        <br>
        <input type="text" name="content" value={{comment['commentContent']}} required>
        <input type="hidden" name="previous_url" value={{previous_url}}>
        <br>
        <input type="submit" value="更改">
    </form>
</body>